*, *::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

h1 {
    text-align: center;
}

.tablero {
    position: relative;
    background-image: url(img/shenlong.jpg);
    background-size: 100% 100%;
    width: 87%;
    height: 87%;
    max-width: 1000px;
    border: 4px solid black;
    margin: auto;
    display: flex;
}

.memotest {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    perspective: 1000px;
}

.cards {
    position: relative;
    background-color: ghostwhite;
    border-radius: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    cursor: pointer;
    z-index: 0;
}

.cards:active {
    transform: scale(.97);
    transition: transform .2s;
}

.cards.voltear {
    transform: rotateY(180deg);
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-weight: 900;
    background: #F39C12;
    color: #17202A;
    display: inline-block;
    font-size: 1.25em;
    margin: 20px;
    padding: 10px 0px;
    text-align: center;
    width: 200px;
    text-decoration: none;
    border: 3px solid #17202A;
    border-radius: 50px;
    z-index: 100;
}

#frente,
#dorso {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-clip: content-box;
    border-radius: 5px;
    backface-visibility: hidden;
}

#dorso {
    transform: rotateY(180deg);
}

.juegoCompleto {
    display: none;
    font-size: 32px;
    text-align: center;
    margin-top: 1.25em;
}

#tiempo {
    font-size: 24px;
}